.main-container{
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
}

.container h1 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #529EE0;
}

/* Section styles */
.section {
    margin-bottom: 10px;
}

.section p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Buttons group */
.buttons-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.quiz-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    background-color: #529EE0;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.quiz-button input {
    display: none;
}

.quiz-button span {
    pointer-events: none;
}

.quiz-button:hover {
    transform: scale(1.05);
    background-color: #2775b9;
}

.buttons-group .selected{
    background-color: #113452;
    border: 2px solid #2775b9;  
}

/* Submit button */
.submit-section {
    margin-top: 20px;
}

.start-quiz-button {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    color: #fff;
    background-color: #529EE0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-quiz-button:hover {
    background-color: #2775b9;
}