.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    max-width: 900px;
    max-height: 500px;
    height: 100%;
    padding: 80px;
    margin: 10px;
    text-align: center;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-body {
    text-align: left;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.carousel-button,
.submit-button {
    background-color: #529EE0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 12px;
}

.carousel-button:hover,
.submit-button:hover{
    background-color: #217ac9;
}

.submit-button {
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}