* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

.navbar {
    color: #529EE0;
    height: 70px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow:  5px 5px 20px #c2c1c1, -5px -5px 20px #acacac;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.navbar a {
    padding: 10px 50px;
    text-decoration: none;
    color: #529EE0;
    font-weight: bold;
    transition: 0.2s;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    max-width: 900px;
    max-height: 500px;
    height: 100%;
    padding: 80px;
    margin: 10px;
    text-align: center;
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-body {
    text-align: left;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.carousel-button,
.submit-button {
    background-color: #529EE0;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 12px;
}

.submit-button {
    margin-left: 20px;
    margin-right: 20px;
}
