.main-container{
    display: flex;
    height: 80%;
}

.main{
    display: flex;
    flex-direction: column;
}

.quiz-results{
    margin: auto;
    
}

.answer{
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.correct-answer, .answers-group .answer.correct-answer{
    color: white;
    background-color: green;
}

.incorrect-answer, .answers-group .answer.no-answer{
    background-color: rgb(194, 194, 22);
}

.incorrect-answer, .answers-group .answer.incorrect-answer{
    color: white;
    background-color: rgb(216, 30, 30);
}

.identification-container{
    align-items: center;
    gap: 20px;
}

.answers-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.answers-group .answer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    background-color: #529EE0;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.result-panel {
    width: 35%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.result-panel h1 {
    color: #333;
}

.result-panel .score {
    font-size: 2em;
    margin: 10px 0;
    color: #529EE0 ;
}

.result-panel button {
    margin: 10px 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #529EE0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.result-panel button:hover {
    background-color: #2775b9;
}

.upload-form {
    margin-top: 20px;
    text-align: center;
}

.upload-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

.upload-form input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #8abae4;
    border-radius: 5px;
}

.upload-form button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #529EE0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.upload-form button:hover {
    background-color: #2775b9;
}

.progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    background: conic-gradient(#529EE0 0%, #ddd 0%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.inner-circle span {
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    color: #529EE0;
}