{% extends "layout.html" %}

{%block head%}
    <title>Customize your quiz</title>
{%endblock%}

{%block body%}
    <form action="/customize" method="POST">
        <label>Guess the... </label>
        {% for mode in modes %}
            <input type="radio" name="mode" id="mode-{{ mode }}" value="{{ mode }}" required>{{ mode }}
        {% endfor %}
        
        <br>

        <label>Category:</label>
        {% for category in categories %}
            <input type="radio" name="category" id="category-{{ category }}" value="{{ category }}" required>{{ category }}
        {% endfor %}
        
        <br>

        <label>Type:</label>
        {% for option in options %}
            <input type="radio" name="option" id="option-{{ option }}" value="{{ option }}" required>{{ option }}
        {% endfor %}

        <br>

        <input type="submit" value="Create quiz">
    </form>
{%endblock%}