{% extends "layout.html" %}

{%block head%}
    <title>Highscore</title>
{%endblock%}
    
{%block body%}
    <h1>Top rankers in {{ data.mode }} - {{ data.category }} - {{ data.option }}</h1>
    <h4>All-Time Top 100</h4>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
            <th>Duration</th>
            <th>Date</th>
        </tr>
        {% for player in ranker_all %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ player.user }}</td>
                <td>{{ player.score }}</td>
                <td>{{ player.duration }}</td>
                <td>{{ player.record_date }}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Annually Top 100</h4>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
            <th>Duration</th>
            <th>Date</th>
        </tr>
        {% for player in ranker_annually %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ player.user }}</td>
                <td>{{ player.score }}</td>
                <td>{{ player.duration }}</td>
                <td>{{ player.record_date }}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Monthly Top 50</h4>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
            <th>Duration</th>
            <th>Date</th>
        </tr>
        {% for player in ranker_monthly %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ player.user }}</td>
                <td>{{ player.score }}</td>
                <td>{{ player.duration }}</td>
                <td>{{ player.record_date }}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Weekly Top 10</h4>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
            <th>Duration</th>
            <th>Date</th>
        </tr>
        {% for player in ranker_weekly %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ player.user }}</td>
                <td>{{ player.score }}</td>
                <td>{{ player.duration }}</td>
                <td>{{ player.record_date }}</td>
            </tr>
        {% endfor %}
    </table>
{%endblock%}