<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Guess the {{ mode }} of {{ category }}</title>
    {% endblock %}
</head>
<body>
    {%block body%}
    <form action="/submit" method="POST">   
        {% for question in questions %}
            <p>{{ question.question }}</p>
            
            {% if option == "Identification" %}
                <input type="text" name="{{ question.id }}" id="{{ question.id }}"><br>
            {% else %}
                {% for option in question.options %}
                    <input type="radio" 
                        id="question.id_option{{ loop.index }}" 
                        name="{{ question.id }}" 
                        value="{{ option }}">
                    <label for="question.id_option{{ loop.index }}">{{ option }}</label><br>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
{%endblock%}
</body>
</html>