{% extends "layout.html" %}

{%block head%}
    <title>Guess the {{ mode }} of {{ category }}</title>
    <style>
        .correct {
            background-color: green;
            color: white;
        }
        .incorrect {
            background-color: red;
            color: white;
        }
        
        .neutral {
            background-color: black;
            color: white;
        }
    </style>
{%endblock%}

{%block body%}
    <h1>Congratulations! You got {{ score }} items correct out of 10</h1>
    {% for question in questions %}
        <p>{{ question.question }}</p>
        
        <ul>
            <!-- 
                basta ginawa ko naka 'correct' class yung mga tamang sagot
                'incorrect' class pag sinagot pero mali or walang sinagot
                'neither' class pag wala lang, salingkitkit
            -->

            {% if option == "Identification" %}
                <li class="{% if question.answer == question.answer_key %}correct
                    {% else %}incorrect
                    {% endif %}">
                    {{ question.answer }}
                </li>
                {% if question.answer != question.answer_key %}
                    <li>The correct answer is {{question.answer_key}}.</li>
                {% endif %}

            {% else %}
                {% for option in question.options %}
                        <li class="{% if (option == question.answer and option != question.answer_key) or (question.answer == 'None' and option == question.answer_key) %}incorrect
                        {% elif option == question.answer_key %}correct
                        {% else %}neither
                        {% endif %}">
                        {{ option }}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endfor %}

    <div>
        <form action="/upload" method="POST">   
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" value="Unknown">
            <input type="hidden" name="score" value="{{ score }}">
            <button type="submit">Upload</button>
        </form>
    </div>
{%endblock%}